body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.image-1 {
    background-image: linear-gradient(50deg, #000000, #e7dfdf1f), url('images/donation10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    position: relative;
}

.header-text {
    position: absolute;
    margin-top: 150px;
    margin-left: 15%;
    color: white;
    font-size: 20px;
}

.button {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: bold;
    background-image: linear-gradient(red, blue);
    border-radius: 5px;
    margin-top: 50px;
}

.today-donate {
    text-align: center;
    font-size: 50px;
    color: rgb(144, 7, 7);
    margin-top: 100px;
}

.today-paragraph {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.tk-amount {
    height: 100px;
    width: 50%;
    margin-left: 25%;
    display: flex;
    margin-bottom: 50px;
    padding-left: 20px;
}

.tk {
    height: 84px;
    width: 17%;
    margin: 8Px;
    text-align: center;
    background-color: rgb(201, 201, 201);
    margin-bottom: 20px;
}

.tk-paragraph {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    padding-top: 8px;
}

.tk-500 {
    border: 3px solid red;
    color: red;
    background-color: rgb(229, 208, 208);
    height: 80px;

}

.other-taka {
    text-align: center;
    color: rgb(40, 39, 39);
}

hr {
    margin-left: 26%;
    margin-right: 26%;
    margin-bottom: 20px;
}

.donate {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: bold;
    background-image: linear-gradient(red, blue, green);
    border-radius: 5px;
    margin-left: 46%;
}

.heading-paln {
    margin-top: 60px;
    text-decoration: center;
    color: rgb(68, 6, 6);
    margin-left: 42%;
}

.heading-plan {
    margin-left: 20%;
    margin-right: 20%;
}

.plan-section {
    height: 300px;
    width: 80%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    height: 50px;
    width: 70px;
}

.image {
    padding-left: 15px;
    padding-top: 15px;
}

.food {
    height: 300px;
    width: 32%;
    margin-right: 2%;
    background-color: rgb(198, 222, 241);
}

.shelter {
    height: 300px;
    width: 32%;
    margin-right: 2%;
    background-color: rgb(194, 197, 255);
}

.education {
    height: 300px;
    width: 32%;
    background-color: rgb(185, 254, 209);

}

.plan {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.lives-depend {
    margin-top: 100px;
    display: flex;
    height: 300px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.lives {
    padding: 20px;
    height: 300px;
    width: 40%
}

.image-2 {
    margin-left: 5%;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 300px;
    position: relative;
}

.image-3 {
    margin-right: 5%;
    background-image: url(images/1stbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 300px;
    position: relative;
}

.my-update {
    margin-top: 50px;
    text-align: center;
    font-weight: 50px;

}

.update-paragraph {
    text-align: center;
}

.final-section {
    width: 60%;
    height: 100px;
    margin-left: 20%;
    background-color: rgb(216, 214, 180);
}

.email-div {
    padding-top: 45px;
    margin-left: 40%;
}

#email-label {
    background-image: linear-gradient(white, blue);


}

.finla-div {
    margin-top: 50px;
    height: 150px;
    width: 100%;
    background-color: black;
}

.humble {
    padding-top: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50px;
    color: red;
    margin-bottom: 0;
}

.humble-pragraph {
    margin-top: 0;
    font-weight: lighter;
    text-align: center;
    color: white;
}